{% extends '::base.html.twig' %}

{% block contentTitle %}
    Witaj w serwisie społecznościowym hhCrew
{% endblock %}
{% block content %}
    Strona dla fanów muzyki hiphop i alternatywnej gdzie użytkownicy mogą informować siebie o koncertach, organizować w grupy na wyjazd, sprzedawać bilety i proponować noclegi na czas wydarzenia;
    <a href="{{ path('hhCrew_index') }}">hhCrew</a>
{% endblock %}
